@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.1);
}

.container{ 
background-color: #f8f8f8;
  border-radius: 50px;
  padding: 20px;
  margin-top: 150px;
  width: 80%; /* Ajuste a largura conforme necessário */
  height: 400px; /* Ajuste a altura conforme necessário */
}

.navbar{
	position: fixed;
 
}

/*.botaoP{*/
/*	display:flex;*/
/*	justify-content: center;*/
/*	align-itens: center;	*/
/*}*/

/*.esquerda{*/
	
/*	display: flex;*/
/*	justify-content: center;*/
/*	allign-itens: center;*/
/*	flex-direction: column;*/
/*}*/

/*.titulo{*/
/* position: relative;*/
/* left: 300px;*/
/* bottom: 185px;*/
/*}*/

/*.cabecalhoTabela {*/
/*  min-height: 70px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  margin: auto 17px;*/
/*}*/


table {
  width: 90%;
  border-spacing: 10px;
  border-radius: 10px;
  text-align: center;
  }
 
.valor[lang="pt=BR"]::before{
	content: "R$ ";
}

.cadastrof{

  width: 90%;
  border-spacing: 10px;
  border-radius: 10px;
  text-align: center;
    position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  
}

  
 