@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #ededed;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252526;
}

.navbar{
	position: fixed;
 	background-color: #252526;
 	display: flex;
 	
}

.container{ 
background-color:#252526;
  border-radius: 50px;
  padding: 40px;
  margin-top: 250px;
  width: 80%; 
  height: 450px; 
  color: #fff;
}


.containerLista{ 
background-color:#2d2d30;
  border-radius: 50px;
  padding: 40px;
  margin-top: 300px;
  width: 80%; 
  height: 450px; 
  color: #fff;
}

.botaoCadastrar1{
  background-color: #39ff14; 
  color: #252526; 
  border-radius: 20px; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer;
  text-align: center; 
  margin-top:100px;
  font-weight: bold;
  
}



/*formulario de cadastro*/
.cadastrof{
  border-radius: 30px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: #2d2d30;
  width: 400px;
  padding: 10px 20px;
 	
  
 
}

.form-select option{
	color: #2d2d30;
}

.botaoCadastrar{
  background-color: #39ff14; 
  color: #252526; 
  border-radius: 20px; 
  padding: 10px 20px; 
  border: none; 
  text-align: center;
  font-weight: bold; 
  
}

.botaocadastrar{
	 background-color: #39ff14; 
  color: #252526; 
  border-radius: 20px; 
  padding: 10px 20px; 
  border: none; 
  text-align: center; 
  font-weight: bold;
}
/*fim formulario de cadastro*/



.cabecalhoTabelaEditar {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 17px;
}


table {
  width: 90%;
  border-spacing: 10px;
  border-radius: 10px;
  text-align: center;
  }
  




  
 