<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
	
<link rel="stylesheet" href="css/style.css">
	
	
<title>Bem-vindo!</title>
</head>
<body>
	
	
	<header>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://images.emojiterra.com/google/android-12l/512px/1f4b2.png" width="50px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastroDespesa">Nova despesa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listaDeDespesas">Editar despesas</a>
        </li>
        
        
      </ul>
    </div>
  </div>
</nav>
		
	</header>
	
	<div class="container">
		
	
	<h3>Bem vindo ao seu gerenciador de despesas!</h3>
	<h4>Para prosseguir você navegar na barra acima, <br> ou clicar no botão abaixo para cadastrar uma nova despesa.</h4>
	
	
	<div class="botaoCadastrar">
	<a href="/cadastroDespesa" class="botaoCadastrar"><strong>Cadastrar nova despesa</strong></a>
	</div>

	</div>

</body>
</html>